@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: gray;
}

* {
	font-family: 'Lato', serif;
}

#wrapper {
	width: 100%;
	height: 100%;
	padding: 15px;
	/* BG gradients for different browsers */
	background: -moz-radial-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
	background: -webkit-radial-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
	background: radial-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
}

#input-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.9;
}

#color-search {
	max-width: 400px;
	padding: 15px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	font-size: 2.5rem;
	font-weight: 100;
	text-align: center;
}

input::placeholder {
	color: white;
}

input:focus {
	outline: none;
}

