@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

$mainFont: 'Lato', sans-serif;
$normal: 300;
$bold: 700;

html {
  background-color: gray;
  background: -moz-radial-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
  background: -webkit-radial-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100);
  background: radial-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  font-family: $mainFont;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  #input-container {
    height: 105px;
    
    #color-search {
      padding: 15px;
      width: 280px;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      font-size: 2rem;
      font-weight: $normal;
      text-align: center;
    }
    
    input::placeholder { color: white; }

    input:focus { outline: none; }

    #color-description-container {
      font-size: 1rem;
      text-align: center;
      color: white;
      margin: 15px;
      font-weight: $normal;
    }

    .color-name, .text-hex, .bold {font-weight: $bold !important;}

    .text-hex {text-transform: uppercase;}

  }
}
